 
  #navbar1__ {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.72);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 18%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 5;
     
  }

  #navbar__ {
    width: 100%;
  }
  #navbar__ > img {
    position: relative;
    height: 65px;
    margin: auto;
    top: 0.4vh;
    left: 49vw;
    clip-path: circle(50% at 50% 50%);
  }
  #nav_links__{
    position: relative;
    display: flex;
    font-size: 1.3rem;
    list-style: none;
    justify-content: center;
    left:auto;
  }
  #color_white__{
    position: relative;
    color: #fff;
    padding: 8px 22px;
    text-decoration: none;
    font-family: "Baloo Bhaina 2", cursive;
    margin: 5px 7px;
    top: 3vh;
    transition: transform 250ms;
  }

  #color_white__:hover {
    background-color: #fff;
    color: black;
    border-radius: 35px;
    
  }

  .Search_command{
    position: fixed;
    right: 10px;
    margin-top: 0.7vh;
  }

  #input_search{
    background-color: #F0F2F5;
    width: 10vw;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    border-radius: 23px;
    height: 6vh;
    font-weight: 400;
    font-size: large;
  }

  #btn_search{
    background-color: #4CAF50;  
  border: none;
  color: white;
  outline: none;
  padding: 10px 10px;
  /* margin-bottom: 10px; */
  border-radius: 25px;
  width: 6vw;
  font-size: 16px;
  }

  @media only screen and (max-width: 1260px) {
    #color_white__{
         padding: 1px 10px;
    }

    #btn_search{
      width: auto;
    }
  }

  @media only screen and (max-width: 864px) {
    .Search_command{
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 620px) {
    .about{
      visibility: hidden;
    }

    #color_white__{
      padding: 1px 1px;
      font-size: large;
    }
  }
  @media only screen and (max-width: 470px) {
     

    .inf{
      visibility: hidden;
    }
    .contact{
      visibility: hidden;
    }

    .res{
      visibility: hidden;
    }
    #navbar1__ {
      height: 13vh;
    }
    #navbar__ > img{
      top:2vh;
      left:46vw;
    }

 }
   
 
  
  